:root {
    --bg-color: #393939;
    --card-color: #565656;
    --matches-color: #404040;
    --flipped-card-color: #fffaf6;
    --header-color: #000;
    --text-color: #fff;
    --button-text-color: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Be Vietnamese Pro', sans-serif;
    position: relative;
}

heading {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg, var(--header-color) 0%, var(--bg-color) 100%);
    position: absolute;
    top: 0;
    padding-top: 2vmin;
}


.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls-container {
    display: flex;
    align-items: flex-end;
}

.heading-container > a {
    font-size: 5vmin;
    text-decoration: none;
    color: var(--text-color);
}

.heading-container > a > span {
    margin-right: 2vmin;
    font-family: 'Protest Riot', sans-serif;
}

.subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vmin;
    letter-spacing: .3vmin;
    padding-top: 1.5vmin;
}

.controls-container {
    padding: 0 3vmin 0 3vmin;
}

.controls-container p {
    font-family: 'Protest Riot', sans-serif;
    font-size: 2.5vmin;
    letter-spacing: .3vmin;
}

#turn-count,
#remaining-count {
    padding: 1vmin 0;
    font-family: 'Protest Riot', sans-serif;
    font-size: 2vmin;
    letter-spacing: .3vmin;
} 

#reset-btn,
#play-again,
#study-list,
#vocab-study {
    cursor: pointer;
    outline: none;
    font-family: 'Protest Riot', sans-serif;
    font-size: 1.4vmin;
    letter-spacing: .3vmin;
    height: 4vmin;
    width: 12vmin;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 .3vmin .2vmin rgba(161, 69, 69, 0.2);
    background-color: var(--bg-color);
    color: var(--text-color);
}

#reset-btn {
    margin-top: 2vmin;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
}

.center-board,
.left-side,
.right-side {
    /* margin-bottom: -.2vmin; */
}

.left-side-container {
    background-color: var(--matches-color);
    border-radius: 2vmin;
    width: 25vmin;
    height: 45vmin;
    padding: 2vmin;
}

.left-side-container h2 {
    font-size: 2.5vmin;
    padding-bottom: 1vmin;
}

.cards-btn > h3 {
    letter-spacing: .1vmin;
    color: var(--text-color);
}

.cards-btn {
    cursor: pointer;
    outline: none;
    font-family: 'arial';
    font-size: 2.2vmin;
    border-radius: .5vmin;
    border: none; 
    margin-bottom: 1vmin;
    color: var(--button-text-color); 
    /* box-shadow: .2vmin .2vmin .5vmin .4vmin rgba(0, 0, 0, .3); */
    transition: 200ms ease-in-out;
}

.cards-btn:hover {
    transform: scale(1.2);
}

#start-btn {
    background-color: aliceblue;
}

#numbers-btn {
    background-color: lightblue;
}

#adjectives-btn {
    background-color: lightpink;
}

#animals-btn {
    background-color: lightgreen;
}

#school-btn {
    background-color: lightyellow;
}

#hobbies-btn {
    background-color: lightcoral;
}

#emotions-btn {
    background-color: lightsalmon;
}  

#travel-btn {
    background-color: lightskyblue;
}


